<!DOCTYPE html>
<html>
  <head>
    <title>FormNest</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>
  <body>
    <header class="bg-white shadow">
      <nav class="container mx-auto px-4 py-4">
        <%= link_to 'TypeformMVP', root_path, class: 'text-xl font-bold' %>
        <% if user_signed_in? %>
          <%= link_to 'Dashboard', root_path, class: 'ml-4' %>
          <%= link_to 'Forms', forms_path, class: 'ml-4' %>
          <%= button_to 'Sign out', destroy_user_session_path, method: :delete, class: 'ml-4' %>
        <% else %>
          <%= link_to 'Sign in', new_user_session_path, class: 'ml-4' %>
          <%= link_to 'Sign up', new_user_registration_path, class: 'ml-4' %>
        <% end %>
      </nav>
    </header>
    <main class="container mx-auto mt-8 px-4">
      <%= yield %>
    </main>
  </body>
</html>